.alana-login-wrapper img{
    max-width: 200px;
    margin: 0 auto;
    display: block;
}

.alana-login-wrapper .logo-wrapper {
    margin-bottom: 30px;
}

.app-login-box {
    border: 1px solid #e9e8f3 !important;
    box-shadow: 0 40px 60px -20px rgb(12 5 62 / 30%) !important;
    padding: 30px 20px;
    height: auto;
    border-radius: 5px;
    height: auto;
    background-color: #fff;
}

.login-body {
    background-image: url("/assets/images/alana-bg-login-optimized.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.parkvia-prepaid img {
    max-width: 50px;
}

@media(max-width: 600px) {
    .login-body {
        padding-left: 15px;
        padding-right: 15px;
    }
}